### Exercises

Use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

- print the first 3 rows
- print the number of rows and columns (shape)
- print the column names
- print the data type of each column
- print the summary statistics for each of the numeric variables

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pydataset import data
from env import get_db_url

iris_df = data('iris')

iris_df.info()
print(iris_df.iloc[0:3])
print(iris_df.shape)
print(iris_df.columns)
print(iris_df.dtypes)
#print(f'Sepal Length summary stats: Mean {iris_df.iloc[:, 0].mean()}, Median {iris_df.iloc[:, 0].median()}, Std Dev {iris_df.iloc[:, 0].std()}, Max {iris_df.iloc[:, 0].max()}, Min {iris_df.iloc[:, 0].min()}')
#print(f'Sepal Width summary stats: Mean {iris_df.iloc[:, 1].mean()}, Median {iris_df.iloc[:, 1].median()}, Std Dev {iris_df.iloc[:, 1].std()}, Max {iris_df.iloc[:, 1].max()}, Min {iris_df.iloc[:, 1].min()}')
#print(f'Petal Length summary stats: Mean {iris_df.iloc[:, 2].mean()}, Median {iris_df.iloc[:, 2].median()}, Std Dev {iris_df.iloc[:, 2].std()}, Max {iris_df.iloc[:, 2].max()}, Min {iris_df.iloc[:, 2].min()}')
#print(f'Petal Width summary stats: Mean {iris_df.iloc[:, 3].mean()}, Median {iris_df.iloc[:, 3].median()}, Std Dev {iris_df.iloc[:, 3].std()}, Max {iris_df.iloc[:, 3].max()}, Min {iris_df.iloc[:, 3].min()}')
print(iris_df.describe())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB
   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
(150, 5)
Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')
Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object
       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

Read the Table1_CustDetails table from your spreadsheet exercises google sheet into a dataframe named df_google_sheets.

Make sure that the spreadsheet is publicly visible under your sharing settings.

- assign the first 100 rows to a new dataframe, df_google_sheets_sample
- print the number of rows of your original dataframe
- print the first 5 column names
- print the column names that have a data type of object
- compute the range for each of the numeric variables.

In [3]:
df_google_sheets = pd.read_clipboard()
df_google_sheets.head()

# assign first 100 rows to sample
df_google_sheets_sample = df_google_sheets.head(100)
# print number of rows of original df
print(f'Rows in DF: {len(df_google_sheets)}')
# print first 5 column names
print(f'First five column names: {df_google_sheets.iloc[:, 0:4].columns}')
# print column names that have data type == object
print(f'Data type == object: {df_google_sheets.select_dtypes(include=object).columns}')
# compute the range for each of the numeric variables
df_google_sheets.describe()

google_sheets_nums = df_google_sheets.select_dtypes(include='number')
gs_nums_df = pd.DataFrame(google_sheets_nums.describe())

gs_nums_df

range_gs_nums = gs_nums_df.loc['max'] - gs_nums_df.loc['min']
range_gs_nums
print(f'The ranges for the numeric columns in the \"Google Sheets DF\" are as follows:\n{range_gs_nums}')

Rows in DF: 0
First five column names: Index(['print('Getting', 'a', 'fresh', 'copy'], dtype='object')
Data type == object: Index(['print('Getting', 'a', 'fresh', 'copy', 'from', 'SQL', 'db...')'], dtype='object')

ValueError: Cannot describe a DataFrame without columns

Read the data from "this google sheet" (train) into a dataframe, df_google

- print the first 3 rows
- print the number of rows and columns
- print the column names
- print the data type of each column
- print the summary statistics for each of the numeric variables
- print the unique values for each of your categorical variables

In [4]:
df_google = pd.read_clipboard()

df_google.info()
df_google.head()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   print('Getting  0 non-null      object
 1   a               0 non-null      object
 2   fresh           0 non-null      object
 3   copy            0 non-null      object
 4   from            0 non-null      object
 5   SQL             0 non-null      object
 6   db...')         0 non-null      object
dtypes: object(7)
memory usage: 0.0+ bytes

Empty DataFrame
Columns: [print('Getting, a, fresh, copy, from, SQL, db...')]
Index: []

In [55]:
# first 3 rows
print(df_google.iloc[0:3])

    Read  the    data   from  this google    sheet  into     a dataframe,  \
0  print  the   first      3  rows   None     None  None  None       None
1  print  the  number     of  rows    and  columns  None  None       None
2  print  the  column  names  None   None     None  None  None       None

   df_google
0        NaN
1        NaN
2        NaN

In [57]:
# first 3 rows and columns
print(df_google.iloc[0:3, 0:3])

    Read  the    data
0  print  the   first
1  print  the  number
2  print  the  column

In [58]:
# column names
print(df_google.columns)

Index(['Read', 'the', 'data', 'from', 'this', 'google', 'sheet', 'into', 'a',
       'dataframe,', 'df_google'],
      dtype='object')

In [59]:
# summary statistics
print(df_google.describe())

       df_google
count        0.0
mean         NaN
std          NaN
min          NaN
25%          NaN
50%          NaN
75%          NaN
max          NaN

In [62]:
# unique values in categorical columns
df_google_cat = df_google.iloc[:, 0:10]
print(df_google_cat.nunique())

Read          1
the           1
data          6
from          6
this          3
google        2
sheet         3
into          2
a             2
dataframe,    1
dtype: int64

In [2]:
import acquire as acq

In [3]:
acq.get_titanic_data()

Reading from CSV file...

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,27.0,0,0,13.0000,S,Second,NaN,Southampton,1
887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,0,3,female,NaN,1,2,23.4500,S,Third,NaN,Southampton,0
889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,0,3,male,32.0,0,0,7.7500,Q,Third,NaN,Queenstown,1

In [5]:
acq.show_codeup_dbs()

List of Codeup DBs:

              Database
0            albums_db
1             chipotle
2      curriculum_logs
3               elo_db
4            employees
5            fruits_db
6           grocery_db
7          home_credit
8   information_schema
9           innis_1673
10             iris_db
11     join_example_db
12                logs
13      mall_customers
14               mysql
15             numbers
16               pizza
17           quotes_db
18            saas_llc
19              sakila
20             spam_db
21       superstore_db
22              svi_db
23         telco_churn
24           tidy_data
25          titanic_db
26     tsa_item_demand
27               world
28              zillow

In [6]:
acq.get_iris_data()

Reading from CSV file...

,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_id,species_id.1,species_name
0,1,5.1,3.5,1.4,0.2,1,1,setosa
1,2,4.9,3.0,1.4,0.2,1,1,setosa
2,3,4.7,3.2,1.3,0.2,1,1,setosa
3,4,4.6,3.1,1.5,0.2,1,1,setosa
4,5,5.0,3.6,1.4,0.2,1,1,setosa
5,6,5.4,3.9,1.7,0.4,1,1,setosa
6,7,4.6,3.4,1.4,0.3,1,1,setosa
7,8,5.0,3.4,1.5,0.2,1,1,setosa
8,9,4.4,2.9,1.4,0.2,1,1,setosa
9,10,4.9,3.1,1.5,0.1,1,1,setosa
10,11,5.4,3.7,1.5,0.2,1,1,setosa
11,12,4.8,3.4,1.6,0.2,1,1,setosa
12,13,4.8,3.0,1.4,0.1,1,1,setosa
13,14,4.3,3.0,1.1,0.1,1,1,setosa
14,15,5.8,4.0,1.2,0.2,1,1,setosa
15,16,5.7,4.4,1.5,0.4,1,1,setosa
16,17,5.4,3.9,1.3,0.4,1,1,setosa
17,18,5.1,3.5,1.4,0.3,1,1,setosa
18,19,5.7,3.8,1.7,0.3,1,1,setosa
19,20,5.1,3.8,1.5,0.3,1,1,setosa
20,21,5.4,3.4,1.7,0.2,1,1,setosa
21,22,5.1,3.7,1.5,0.4,1,1,setosa
22,23,4.6,3.6,1.0,0.2,1,1,setosa
23,24,5.1,3.3,1.7,0.5,1,1,setosa
24,25,4.8,3.4,1.9,0.2,1,1,setosa
25,26,5.0,3.0,1.6,0.2,1,1,setosa
26,27,5.0,3.4,1.6,0.4,1,1,setosa
27,28,5.2,3.5,1.5,0.2,1,1,setosa
28,29,5.2,3.4,1.4,0.2,1,1,setosa
29,30,4.7,3.2,1.6,0.2,1,1,setosa
30,31,4.8,3.1,1.6,0.2,1,1,setosa
31,32,5.4,3.4,1.5,0.4,1,1,setosa
32,33,5.2,4.1,1.5,0.1,1,1,setosa
33,34,5.5,4.2,1.4,0.2,1,1,setosa
34,35,4.9,3.1,1.5,0.2,1,1,setosa
35,36,5.0,3.2,1.2,0.2,1,1,setosa
36,37,5.5,3.5,1.3,0.2,1,1,setosa
37,38,4.9,3.6,1.4,0.1,1,1,setosa
38,39,4.4,3.0,1.3,0.2,1,1,setosa
39,40,5.1,3.4,1.5,0.2,1,1,setosa
40,41,5.0,3.5,1.3,0.3,1,1,setosa
41,42,4.5,2.3,1.3,0.3,1,1,setosa
42,43,4.4,3.2,1.3,0.2,1,1,setosa
43,44,5.0,3.5,1.6,0.6,1,1,setosa
44,45,5.1,3.8,1.9,0.4,1,1,setosa
45,46,4.8,3.0,1.4,0.3,1,1,setosa
46,47,5.1,3.8,1.6,0.2,1,1,setosa
47,48,4.6,3.2,1.4,0.2,1,1,setosa
48,49,5.3,3.7,1.5,0.2,1,1,setosa
49,50,5.0,3.3,1.4,0.2,1,1,setosa
50,51,7.0,3.2,4.7,1.4,2,2,versicolor
51,52,6.4,3.2,4.5,1.5,2,2,versicolor
52,53,6.9,3.1,4.9,1.5,2,2,versicolor
53,54,5.5,2.3,4.0,1.3,2,2,versicolor
54,55,6.5,2.8,4.6,1.5,2,2,versicolor
55,56,5.7,2.8,4.5,1.3,2,2,versicolor
56,57,6.3,3.3,4.7,1.6,2,2,versicolor
57,58,4.9,2.4,3.3,1.0,2,2,versicolor
58,59,6.6,2.9,4.6,1.3,2,2,versicolor
59,60,5.2,2.7,3.9,1.4,2,2,versicolor
60,61,5.0,2.0,3.5,1.0,2,2,versicolor
61,62,5.9,3.0,4.2,1.5,2,2,versicolor
62,63,6.0,2.2,4.0,1.0,2,2,versicolor
63,64,6.1,2.9,4.7,1.4,2,2,versicolor
64,65,5.6,2.9,3.6,1.3,2,2,versicolor
65,66,6.7,3.1,4.4,1.4,2,2,versicolor
66,67,5.6,3.0,4.5,1.5,2,2,versicolor
67,68,5.8,2.7,4.1,1.0,2,2,versicolor
68,69,6.2,2.2,4.5,1.5,2,2,versicolor
69,70,5.6,2.5,3.9,1.1,2,2,versicolor
70,71,5.9,3.2,4.8,1.8,2,2,versicolor
71,72,6.1,2.8,4.0,1.3,2,2,versicolor
72,73,6.3,2.5,4.9,1.5,2,2,versicolor
73,74,6.1,2.8,4.7,1.2,2,2,versicolor
74,75,6.4,2.9,4.3,1.3,2,2,versicolor
75,76,6.6,3.0,4.4,1.4,2,2,versicolor
76,77,6.8,2.8,4.8,1.4,2,2,versicolor
77,78,6.7,3.0,5.0,1.7,2,2,versicolor
78,79,6.0,2.9,4.5,1.5,2,2,versicolor
79,80,5.7,2.6,3.5,1.0,2,2,versicolor
80,81,5.5,2.4,3.8,1.1,2,2,versicolor
81,82,5.5,2.4,3.7,1.0,2,2,versicolor
82,83,5.8,2.7,3.9,1.2,2,2,versicolor
83,84,6.0,2.7,5.1,1.6,2,2,versicolor
84,85,5.4,3.0,4.5,1.5,2,2,versicolor
85,86,6.0,3.4,4.5,1.6,2,2,versicolor
86,87,6.7,3.1,4.7,1.5,2,2,versicolor
87,88,6.3,2.3,4.4,1.3,2,2,versicolor
88,89,5.6,3.0,4.1,1.3,2,2,versicolor
89,90,5.5,2.5,4.0,1.3,2,2,versicolor
90,91,5.5,2.6,4.4,1.2,2,2,versicolor
91,92,6.1,3.0,4.6,1.4,2,2,versicolor
92,93,5.8,2.6,4.0,1.2,2,2,versicolor
93,94,5.0,2.3,3.3,1.0,2,2,versicolor
94,95,5.6,2.7,4.2,1.3,2,2,versicolor
95,96,5.7,3.0,4.2,1.2,2,2,versicolor
96,97,5.7,2.9,4.2,1.3,2,2,versicolor
97,98,6.2,2.9,4.3,1.3,2,2,versicolor
98,99,5.1,2.5,3.0,1.1,2,2,versicolor
99,100,5.7,2.8,4.1,1.3,2,2,versicolor
100,101,6.3,3.3,6.0,2.5,3,3,virginica
101,102,5.8,2.7,5.1,1.9,3,3,virginica
102,103,7.1,3.0,5.9,2.1,3,3,virginica
103,104,6.3,2.9,5.6,1.8,3,3,virginica
104,105,6.5,3.0,5.8,2.2,3,3,virginica
105,106,7.6,3.0,6.6,2.1,3,3,virginica
106,107,4.9,2.5,4.5,1.7,3,3,virginica
107,108,7.3,2.9,6.3,1.8,3,3,virginica
108,109,6.7,2.5,5.8,1.8,3,3,virginica
109,110,7.2,3.6,6.1,2.5,3,3,virginica
110,111,6.5,3.2,5.1,2.0,3,3,virginica
111,112,6.4,2.7,5.3,1.9,3,3,virginica
112,113,6.8,3.0,5.5,2.1,3,3,virginica
113,114,5.7,2.5,5.0,2.0,3,3,virginica
114,115,5.8,2.8,5.1,2.4,3,3,virginica
115,116,6.4,3.2,5.3,2.3,3,3,virginica
116,117,6.5,3.0,5.5,1.8,3,3,virginica
117,118,7.7,3.8,6.7,2.2,3,3,virginica
118,119,7.7,2.6,6.9,2.3,3,3,virginica
119,120,6.0,2.2,5.0,1.5,3,3,virginica
120,121,6.9,3.2,5.7,2.3,3,3,virginica
121,122,5.6,2.8,4.9,2.0,3,3,virginica
122,123,7.7,2.8,6.7,2.0,3,3,virginica
123,124,6.3,2.7,4.9,1.8,3,3,virginica
124,125,6.7,3.3,5.7,2.1,3,3,virginica
125,126,7.2,3.2,6.0,1.8,3,3,virginica
126,127,6.2,2.8,4.8,1.8,3,3,virginica
127,128,6.1,3.0,4.9,1.8,3,3,virginica
128,129,6.4,2.8,5.6,2.1,3,3,virginica
129,130,7.2,3.0,5.8,1.6,3,3,virginica
130,131,7.4,2.8,6.1,1.9,3,3,virginica
131,132,7.9,3.8,6.4,2.0,3,3,virginica
132,133,6.4,2.8,5.6,2.2,3,3,virginica
133,134,6.3,2.8,5.1,1.5,3,3,virginica
134,135,6.1,2.6,5.6,1.4,3,3,virginica
135,136,7.7,3.0,6.1,2.3,3,3,virginica
136,137,6.3,3.4,5.6,2.4,3,3,virginica
137,138,6.4,3.1,5.5,1.8,3,3,virginica
138,139,6.0,3.0,4.8,1.8,3,3,virginica
139,140,6.9,3.1,5.4,2.1,3,3,virginica
140,141,6.7,3.1,5.6,2.4,3,3,virginica
141,142,6.9,3.1,5.1,2.3,3,3,virginica
142,143,5.8,2.7,5.1,1.9,3,3,virginica
143,144,6.8,3.2,5.9,2.3,3,3,virginica
144,145,6.7,3.3,5.7,2.5,3,3,virginica
145,146,6.7,3.0,5.2,2.3,3,3,virginica
146,147,6.3,2.5,5.0,1.9,3,3,virginica
147,148,6.5,3.0,5.2,2.0,3,3,virginica
148,149,6.2,3.4,5.4,2.3,3,3,virginica
149,150,5.9,3.0,5.1,1.8,3,3,virginica

In [7]:
acq.get_telco_data()

Reading from CSV file...

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,online_security,...,payment_type_id,monthly_charges,total_charges,churn,contract_type_id.1,contract_type,payment_type_id.1,payment_type,internet_service_type_id.1,internet_service_type
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,1,No,...,2,65.60,593.3,No,2,One year,2,Mailed check,1,DSL
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,1,No,...,2,59.90,542.4,No,1,Month-to-month,2,Mailed check,1,DSL
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,2,No,...,1,73.90,280.85,Yes,1,Month-to-month,1,Electronic check,2,Fiber optic
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,2,No,...,1,98.00,1237.85,Yes,1,Month-to-month,1,Electronic check,2,Fiber optic
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,2,No,...,2,83.90,267.4,Yes,1,Month-to-month,2,Mailed check,2,Fiber optic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,Female,0,No,No,13,Yes,No,1,Yes,...,2,55.15,742.9,No,2,One year,2,Mailed check,1,DSL
7039,9992-RRAMN,Male,0,Yes,No,22,Yes,Yes,2,No,...,1,85.10,1873.7,Yes,1,Month-to-month,1,Electronic check,2,Fiber optic
7040,9992-UJOEL,Male,0,No,No,2,Yes,No,1,No,...,2,50.30,92.75,No,1,Month-to-month,2,Mailed check,1,DSL
7041,9993-LHIEB,Male,0,Yes,Yes,67,Yes,No,1,Yes,...,2,67.85,4627.65,No,3,Two year,2,Mailed check,1,DSL
7042,9995-HOTOH,Male,0,Yes,Yes,63,No,No phone service,1,Yes,...,1,59.00,3707.6,No,3,Two year,1,Electronic check,1,DSL

In [8]:
url = get_db_url('titanic_db')
pd.read_sql('SHOW TABLES', url)

  Tables_in_titanic_db
0           passengers

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

import warnings
warnings.filterwarnings('ignore')

In [10]:
iris_df = acq.get_iris_data()

iris_df.head()

Reading from CSV file...

,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_id,species_id.1,species_name
0,1,5.1,3.5,1.4,0.2,1,1,setosa
1,2,4.9,3.0,1.4,0.2,1,1,setosa
2,3,4.7,3.2,1.3,0.2,1,1,setosa
3,4,4.6,3.1,1.5,0.2,1,1,setosa
4,5,5.0,3.6,1.4,0.2,1,1,setosa

### Using the Iris Data:

Use the function defined in acquire.py to load the iris data.

Drop the species_id and measurement_id columns.

Rename the species_name column to just species.

Create dummy variables of the species name and concatenate onto the iris dataframe. (This is for practice, we don't always have to encode the target, but if we used species as a feature, we would need to encode it).

Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

Drop columns (species_id and measurement_id)

In [11]:
cols_to_drop = ['species_id', 'measurement_id']

iris_df = iris_df.drop(columns= (cols_to_drop))

Rename 'species_id.1' and 'species_name'

In [12]:
iris_df = iris_df.rename(columns= {'species_id.1': 'species_id', 'species_name': 'species'})
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width  species_id species
0           5.1          3.5           1.4          0.2           1  setosa
1           4.9          3.0           1.4          0.2           1  setosa
2           4.7          3.2           1.3          0.2           1  setosa
3           4.6          3.1           1.5          0.2           1  setosa
4           5.0          3.6           1.4          0.2           1  setosa

Create dummy variables for the species name and concatenate the dummy_df onto iris_df.

In [13]:
dummy_df = pd.get_dummies(iris_df[['species']], dummy_na=False, drop_first=[True])
dummy_df
iris_df = pd.concat([iris_df, dummy_df], axis=1)
iris_df

,sepal_length,sepal_width,petal_length,petal_width,species_id,species,species_versicolor,species_virginica
0,5.1,3.5,1.4,0.2,1,setosa,0,0
1,4.9,3.0,1.4,0.2,1,setosa,0,0
2,4.7,3.2,1.3,0.2,1,setosa,0,0
3,4.6,3.1,1.5,0.2,1,setosa,0,0
4,5.0,3.6,1.4,0.2,1,setosa,0,0
5,5.4,3.9,1.7,0.4,1,setosa,0,0
6,4.6,3.4,1.4,0.3,1,setosa,0,0
7,5.0,3.4,1.5,0.2,1,setosa,0,0
8,4.4,2.9,1.4,0.2,1,setosa,0,0
9,4.9,3.1,1.5,0.1,1,setosa,0,0
10,5.4,3.7,1.5,0.2,1,setosa,0,0
11,4.8,3.4,1.6,0.2,1,setosa,0,0
12,4.8,3.0,1.4,0.1,1,setosa,0,0
13,4.3,3.0,1.1,0.1,1,setosa,0,0
14,5.8,4.0,1.2,0.2,1,setosa,0,0
15,5.7,4.4,1.5,0.4,1,setosa,0,0
16,5.4,3.9,1.3,0.4,1,setosa,0,0
17,5.1,3.5,1.4,0.3,1,setosa,0,0
18,5.7,3.8,1.7,0.3,1,setosa,0,0
19,5.1,3.8,1.5,0.3,1,setosa,0,0
20,5.4,3.4,1.7,0.2,1,setosa,0,0
21,5.1,3.7,1.5,0.4,1,setosa,0,0
22,4.6,3.6,1.0,0.2,1,setosa,0,0
23,5.1,3.3,1.7,0.5,1,setosa,0,0
24,4.8,3.4,1.9,0.2,1,setosa,0,0
25,5.0,3.0,1.6,0.2,1,setosa,0,0
26,5.0,3.4,1.6,0.4,1,setosa,0,0
27,5.2,3.5,1.5,0.2,1,setosa,0,0
28,5.2,3.4,1.4,0.2,1,setosa,0,0
29,4.7,3.2,1.6,0.2,1,setosa,0,0
30,4.8,3.1,1.6,0.2,1,setosa,0,0
31,5.4,3.4,1.5,0.4,1,setosa,0,0
32,5.2,4.1,1.5,0.1,1,setosa,0,0
33,5.5,4.2,1.4,0.2,1,setosa,0,0
34,4.9,3.1,1.5,0.2,1,setosa,0,0
35,5.0,3.2,1.2,0.2,1,setosa,0,0
36,5.5,3.5,1.3,0.2,1,setosa,0,0
37,4.9,3.6,1.4,0.1,1,setosa,0,0
38,4.4,3.0,1.3,0.2,1,setosa,0,0
39,5.1,3.4,1.5,0.2,1,setosa,0,0
40,5.0,3.5,1.3,0.3,1,setosa,0,0
41,4.5,2.3,1.3,0.3,1,setosa,0,0
42,4.4,3.2,1.3,0.2,1,setosa,0,0
43,5.0,3.5,1.6,0.6,1,setosa,0,0
44,5.1,3.8,1.9,0.4,1,setosa,0,0
45,4.8,3.0,1.4,0.3,1,setosa,0,0
46,5.1,3.8,1.6,0.2,1,setosa,0,0
47,4.6,3.2,1.4,0.2,1,setosa,0,0
48,5.3,3.7,1.5,0.2,1,setosa,0,0
49,5.0,3.3,1.4,0.2,1,setosa,0,0
50,7.0,3.2,4.7,1.4,2,versicolor,1,0
51,6.4,3.2,4.5,1.5,2,versicolor,1,0
52,6.9,3.1,4.9,1.5,2,versicolor,1,0
53,5.5,2.3,4.0,1.3,2,versicolor,1,0
54,6.5,2.8,4.6,1.5,2,versicolor,1,0
55,5.7,2.8,4.5,1.3,2,versicolor,1,0
56,6.3,3.3,4.7,1.6,2,versicolor,1,0
57,4.9,2.4,3.3,1.0,2,versicolor,1,0
58,6.6,2.9,4.6,1.3,2,versicolor,1,0
59,5.2,2.7,3.9,1.4,2,versicolor,1,0
60,5.0,2.0,3.5,1.0,2,versicolor,1,0
61,5.9,3.0,4.2,1.5,2,versicolor,1,0
62,6.0,2.2,4.0,1.0,2,versicolor,1,0
63,6.1,2.9,4.7,1.4,2,versicolor,1,0
64,5.6,2.9,3.6,1.3,2,versicolor,1,0
65,6.7,3.1,4.4,1.4,2,versicolor,1,0
66,5.6,3.0,4.5,1.5,2,versicolor,1,0
67,5.8,2.7,4.1,1.0,2,versicolor,1,0
68,6.2,2.2,4.5,1.5,2,versicolor,1,0
69,5.6,2.5,3.9,1.1,2,versicolor,1,0
70,5.9,3.2,4.8,1.8,2,versicolor,1,0
71,6.1,2.8,4.0,1.3,2,versicolor,1,0
72,6.3,2.5,4.9,1.5,2,versicolor,1,0
73,6.1,2.8,4.7,1.2,2,versicolor,1,0
74,6.4,2.9,4.3,1.3,2,versicolor,1,0
75,6.6,3.0,4.4,1.4,2,versicolor,1,0
76,6.8,2.8,4.8,1.4,2,versicolor,1,0
77,6.7,3.0,5.0,1.7,2,versicolor,1,0
78,6.0,2.9,4.5,1.5,2,versicolor,1,0
79,5.7,2.6,3.5,1.0,2,versicolor,1,0
80,5.5,2.4,3.8,1.1,2,versicolor,1,0
81,5.5,2.4,3.7,1.0,2,versicolor,1,0
82,5.8,2.7,3.9,1.2,2,versicolor,1,0
83,6.0,2.7,5.1,1.6,2,versicolor,1,0
84,5.4,3.0,4.5,1.5,2,versicolor,1,0
85,6.0,3.4,4.5,1.6,2,versicolor,1,0
86,6.7,3.1,4.7,1.5,2,versicolor,1,0
87,6.3,2.3,4.4,1.3,2,versicolor,1,0
88,5.6,3.0,4.1,1.3,2,versicolor,1,0
89,5.5,2.5,4.0,1.3,2,versicolor,1,0
90,5.5,2.6,4.4,1.2,2,versicolor,1,0
91,6.1,3.0,4.6,1.4,2,versicolor,1,0
92,5.8,2.6,4.0,1.2,2,versicolor,1,0
93,5.0,2.3,3.3,1.0,2,versicolor,1,0
94,5.6,2.7,4.2,1.3,2,versicolor,1,0
95,5.7,3.0,4.2,1.2,2,versicolor,1,0
96,5.7,2.9,4.2,1.3,2,versicolor,1,0
97,6.2,2.9,4.3,1.3,2,versicolor,1,0
98,5.1,2.5,3.0,1.1,2,versicolor,1,0
99,5.7,2.8,4.1,1.3,2,versicolor,1,0
100,6.3,3.3,6.0,2.5,3,virginica,0,1
101,5.8,2.7,5.1,1.9,3,virginica,0,1
102,7.1,3.0,5.9,2.1,3,virginica,0,1
103,6.3,2.9,5.6,1.8,3,virginica,0,1
104,6.5,3.0,5.8,2.2,3,virginica,0,1
105,7.6,3.0,6.6,2.1,3,virginica,0,1
106,4.9,2.5,4.5,1.7,3,virginica,0,1
107,7.3,2.9,6.3,1.8,3,virginica,0,1
108,6.7,2.5,5.8,1.8,3,virginica,0,1
109,7.2,3.6,6.1,2.5,3,virginica,0,1
110,6.5,3.2,5.1,2.0,3,virginica,0,1
111,6.4,2.7,5.3,1.9,3,virginica,0,1
112,6.8,3.0,5.5,2.1,3,virginica,0,1
113,5.7,2.5,5.0,2.0,3,virginica,0,1
114,5.8,2.8,5.1,2.4,3,virginica,0,1
115,6.4,3.2,5.3,2.3,3,virginica,0,1
116,6.5,3.0,5.5,1.8,3,virginica,0,1
117,7.7,3.8,6.7,2.2,3,virginica,0,1
118,7.7,2.6,6.9,2.3,3,virginica,0,1
119,6.0,2.2,5.0,1.5,3,virginica,0,1
120,6.9,3.2,5.7,2.3,3,virginica,0,1
121,5.6,2.8,4.9,2.0,3,virginica,0,1
122,7.7,2.8,6.7,2.0,3,virginica,0,1
123,6.3,2.7,4.9,1.8,3,virginica,0,1
124,6.7,3.3,5.7,2.1,3,virginica,0,1
125,7.2,3.2,6.0,1.8,3,virginica,0,1
126,6.2,2.8,4.8,1.8,3,virginica,0,1
127,6.1,3.0,4.9,1.8,3,virginica,0,1
128,6.4,2.8,5.6,2.1,3,virginica,0,1
129,7.2,3.0,5.8,1.6,3,virginica,0,1
130,7.4,2.8,6.1,1.9,3,virginica,0,1
131,7.9,3.8,6.4,2.0,3,virginica,0,1
132,6.4,2.8,5.6,2.2,3,virginica,0,1
133,6.3,2.8,5.1,1.5,3,virginica,0,1
134,6.1,2.6,5.6,1.4,3,virginica,0,1
135,7.7,3.0,6.1,2.3,3,virginica,0,1
136,6.3,3.4,5.6,2.4,3,virginica,0,1
137,6.4,3.1,5.5,1.8,3,virginica,0,1
138,6.0,3.0,4.8,1.8,3,virginica,0,1
139,6.9,3.1,5.4,2.1,3,virginica,0,1
140,6.7,3.1,5.6,2.4,3,virginica,0,1
141,6.9,3.1,5.1,2.3,3,virginica,0,1
142,5.8,2.7,5.1,1.9,3,virginica,0,1
143,6.8,3.2,5.9,2.3,3,virginica,0,1
144,6.7,3.3,5.7,2.5,3,virginica,0,1
145,6.7,3.0,5.2,2.3,3,virginica,0,1
146,6.3,2.5,5.0,1.9,3,virginica,0,1
147,6.5,3.0,5.2,2.0,3,virginica,0,1
148,6.2,3.4,5.4,2.3,3,virginica,0,1
149,5.9,3.0,5.1,1.8,3,virginica,0,1

In [14]:
titanic_df = acq.get_titanic_data()
titanic_df.head()
titanic_df.info()

Reading from CSV file...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   passenger_id  891 non-null    int64
 1   survived      891 non-null    int64
 2   pclass        891 non-null    int64
 3   sex           891 non-null    object
 4   age           714 non-null    float64
 5   sibsp         891 non-null    int64
 6   parch         891 non-null    int64
 7   fare          891 non-null    float64
 8   embarked      889 non-null    object
 9   class         891 non-null    object
 10  deck          203 non-null    object
 11  embark_town   889 non-null    object
 12  alone         891 non-null    int64
dtypes: float64(2), int64(6), object(5)
memory usage: 90.6+ KB

In [15]:
titanic_df.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

### Using the Titanic dataset

Use the function defined in acquire.py to load the Titanic data.

Drop any unnecessary, unhelpful, or duplicated columns.

Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

Create a function named prep_titanic that accepts the raw titanic data, and returns the data with the transformations above applied.

Drop unnecessary, unhelpful, or duplicated columns.

In [16]:
titanic_df = titanic_df.drop_duplicates()
titanic_df = titanic_df.drop(columns= ['passenger_id', 'age', 'embarked', 'class', 'deck'])

In [17]:
print(titanic_df.shape)
titanic_df.info()
titanic_df.head()

(891, 8)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   sibsp        891 non-null    int64
 4   parch        891 non-null    int64
 5   fare         891 non-null    float64
 6   embark_town  889 non-null    object
 7   alone        891 non-null    int64
dtypes: float64(1), int64(5), object(2)
memory usage: 62.6+ KB

   survived  pclass     sex  sibsp  parch     fare  embark_town  alone
0         0       3    male      1      0   7.2500  Southampton      0
1         1       1  female      1      0  71.2833    Cherbourg      0
2         1       3  female      0      0   7.9250  Southampton      1
3         1       1  female      1      0  53.1000  Southampton      0
4         0       3    male      0      0   8.0500  Southampton      1

Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the df.

In [11]:
titanic_df.dtypes

survived         int64
pclass           int64
sex             object
sibsp            int64
parch            int64
fare           float64
embark_town     object
alone            int64
dtype: object

In [18]:
#Find nulls
print(f'Titanic DF has this many nulls:\n{titanic_df.isnull().sum()}')
titanic_df.embark_town.value_counts()

Titanic DF has this many nulls:
survived       0
pclass         0
sex            0
sibsp          0
parch          0
fare           0
embark_town    2
alone          0
dtype: int64

Southampton    644
Cherbourg      168
Queenstown      77
Name: embark_town, dtype: int64

In [19]:
#fill nulls in embark_town with mode ('Southampton')
titanic_df = titanic_df.fillna('Southampton')
print(f'Titanic DF now has this many nulls:\n{titanic_df.isnull().sum()}')

Titanic DF now has this many nulls:
survived       0
pclass         0
sex            0
sibsp          0
parch          0
fare           0
embark_town    0
alone          0
dtype: int64

In [17]:
titanic_dummy_df = pd.get_dummies(titanic_df[['sex', 'embark_town']], dummy_na=False, drop_first= [True, True])
titanic_dummy_df.head()

   sex_male  embark_town_Queenstown  embark_town_Southampton
0         1                       0                        1
1         0                       0                        0
2         0                       0                        1
3         0                       0                        1
4         1                       0                        1

In [18]:
titanic_df = pd.concat([titanic_df, titanic_dummy_df], axis=1)
titanic_df_clean = titanic_df.drop(columns= ['sex', 'embark_town'])
titanic_df_clean

,survived,pclass,sibsp,parch,fare,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
0,0,3,1,0,7.2500,0,1,0,1
1,1,1,1,0,71.2833,0,0,0,0
2,1,3,0,0,7.9250,1,0,0,1
3,1,1,1,0,53.1000,0,0,0,1
4,0,3,0,0,8.0500,1,1,0,1
...,...,...,...,...,...,...,...,...,...
886,0,2,0,0,13.0000,1,1,0,1
887,1,1,0,0,30.0000,1,0,0,1
888,0,3,1,2,23.4500,0,0,0,1
889,1,1,0,0,30.0000,1,1,0,0
890,0,3,0,0,7.7500,1,1,1,0

In [24]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 250)

### Using the Telco dataset

Use the function defined in acquire.py to load the Telco data.

Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.

Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

Create a function named prep_telco that accepts the raw telco data, and returns the data with the transformations above applied.

In [26]:
telco_df = acq.get_telco_data()
telco_df.info()
telco_df.head()

Reading from CSV file...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 27 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   customer_id                 7043 non-null   object
 1   gender                      7043 non-null   object
 2   senior_citizen              7043 non-null   int64
 3   partner                     7043 non-null   object
 4   dependents                  7043 non-null   object
 5   tenure                      7043 non-null   int64
 6   phone_service               7043 non-null   object
 7   multiple_lines              7043 non-null   object
 8   internet_service_type_id    7043 non-null   int64
 9   online_security             7043 non-null   object
 10  online_backup               7043 non-null   object
 11  device_protection           7043 non-null   object
 12  tech_support                7043 non-null   object
 13  streaming_tv                7043 non-null   object
 14  streaming_movies            7043 non-null   object
 15  contract_type_id            7043 non-null   int64
 16  paperless_billing           7043 non-null   object
 17  payment_type_id             7043 non-null   int64
 18  monthly_charges             7043 non-null   float64
 19  total_charges               7043 non-null   object
 20  churn                       7043 non-null   object
 21  contract_type_id.1          7043 non-null   int64
 22  contract_type               7043 non-null   object
 23  payment_type_id.1           7043 non-null   int64
 24  payment_type                7043 non-null   object
 25  internet_service_type_id.1  7043 non-null   int64
 26  internet_service_type       7043 non-null   object
dtypes: float64(1), int64(8), object(18)
memory usage: 1.5+ MB

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract_type_id,paperless_billing,payment_type_id,monthly_charges,total_charges,churn,contract_type_id.1,contract_type,payment_type_id.1,payment_type,internet_service_type_id.1,internet_service_type
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,1,No,Yes,No,Yes,Yes,No,2,Yes,2,65.6,593.3,No,2,One year,2,Mailed check,1,DSL
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,1,No,No,No,No,No,Yes,1,No,2,59.9,542.4,No,1,Month-to-month,2,Mailed check,1,DSL
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,2,No,No,Yes,No,No,No,1,Yes,1,73.9,280.85,Yes,1,Month-to-month,1,Electronic check,2,Fiber optic
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,2,No,Yes,Yes,No,Yes,Yes,1,Yes,1,98.0,1237.85,Yes,1,Month-to-month,1,Electronic check,2,Fiber optic
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,2,No,No,No,Yes,Yes,No,1,Yes,2,83.9,267.4,Yes,1,Month-to-month,2,Mailed check,2,Fiber optic

In [27]:
telco_df.isnull().sum()

customer_id                   0
gender                        0
senior_citizen                0
partner                       0
dependents                    0
tenure                        0
phone_service                 0
multiple_lines                0
internet_service_type_id      0
online_security               0
online_backup                 0
device_protection             0
tech_support                  0
streaming_tv                  0
streaming_movies              0
contract_type_id              0
paperless_billing             0
payment_type_id               0
monthly_charges               0
total_charges                 0
churn                         0
contract_type_id.1            0
contract_type                 0
payment_type_id.1             0
payment_type                  0
internet_service_type_id.1    0
internet_service_type         0
dtype: int64

Drop unnecessary, unhelpful, or duplicated columns.

In [28]:
telco_df = telco_df.drop_duplicates()
telco_df.shape

(7043, 27)

In [29]:
telco_df[['contract_type_id.1', 'contract_type_id', 'payment_type_id.1', 'payment_type_id', 'internet_service_type_id.1', 'internet_service_type_id']].head()

,contract_type_id.1,contract_type_id,payment_type_id.1,payment_type_id,internet_service_type_id.1,internet_service_type_id
0,2,2,2,2,1,1
1,1,1,2,2,1,1
2,1,1,1,1,2,2
3,1,1,1,1,2,2
4,1,1,2,2,2,2

In [24]:
telco_df = telco_df.drop(columns= ['contract_type_id.1', 'payment_type_id.1', 'internet_service_type_id.1'])
telco_df.info()
telco_df.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               7043 non-null   object
 1   gender                    7043 non-null   object
 2   senior_citizen            7043 non-null   int64
 3   partner                   7043 non-null   object
 4   dependents                7043 non-null   object
 5   tenure                    7043 non-null   int64
 6   phone_service             7043 non-null   object
 7   multiple_lines            7043 non-null   object
 8   internet_service_type_id  7043 non-null   int64
 9   online_security           7043 non-null   object
 10  online_backup             7043 non-null   object
 11  device_protection         7043 non-null   object
 12  tech_support              7043 non-null   object
 13  streaming_tv              7043 non-null   object
 14  streaming_movies          7043 non-null   object
 15  contract_type_id          7043 non-null   int64
 16  paperless_billing         7043 non-null   object
 17  payment_type_id           7043 non-null   int64
 18  monthly_charges           7043 non-null   float64
 19  total_charges             7043 non-null   object
 20  churn                     7043 non-null   object
 21  contract_type             7043 non-null   object
 22  payment_type              7043 non-null   object
 23  internet_service_type     7043 non-null   object
dtypes: float64(1), int64(5), object(18)
memory usage: 1.3+ MB

,senior_citizen,tenure,internet_service_type_id,contract_type_id,payment_type_id,monthly_charges
count,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000
mean,0.162147,32.371149,1.872923,1.690473,2.315633,64.761692
std,0.368612,24.559481,0.737796,0.833755,1.148907,30.090047
min,0.000000,0.000000,1.000000,1.000000,1.000000,18.250000
25%,0.000000,9.000000,1.000000,1.000000,1.000000,35.500000
50%,0.000000,29.000000,2.000000,1.000000,2.000000,70.350000
75%,0.000000,55.000000,2.000000,2.000000,3.000000,89.850000
max,1.000000,72.000000,3.000000,3.000000,4.000000,118.750000

In [34]:
cat_cols = [col for col in telco_df.columns if telco_df[col].dtype == 'O']
telco_df[cat_cols].info()
telco_df[cat_cols].head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   customer_id            7043 non-null   object
 1   gender                 7043 non-null   object
 2   partner                7043 non-null   object
 3   dependents             7043 non-null   object
 4   phone_service          7043 non-null   object
 5   multiple_lines         7043 non-null   object
 6   online_security        7043 non-null   object
 7   online_backup          7043 non-null   object
 8   device_protection      7043 non-null   object
 9   tech_support           7043 non-null   object
 10  streaming_tv           7043 non-null   object
 11  streaming_movies       7043 non-null   object
 12  paperless_billing      7043 non-null   object
 13  churn                  7043 non-null   object
 14  contract_type          7043 non-null   object
 15  payment_type           7043 non-null   object
 16  internet_service_type  7043 non-null   object
dtypes: object(17)
memory usage: 1.2+ MB

,customer_id,gender,partner,dependents,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,paperless_billing,churn,contract_type,payment_type,internet_service_type
0,0002-ORFBO,Female,Yes,Yes,Yes,No,No,Yes,No,Yes,Yes,No,Yes,No,One year,Mailed check,DSL
1,0003-MKNFE,Male,No,No,Yes,Yes,No,No,No,No,No,Yes,No,No,Month-to-month,Mailed check,DSL
2,0004-TLHLJ,Male,No,No,Yes,No,No,No,Yes,No,No,No,Yes,Yes,Month-to-month,Electronic check,Fiber optic
3,0011-IGKFF,Male,Yes,No,Yes,No,No,Yes,Yes,No,Yes,Yes,Yes,Yes,Month-to-month,Electronic check,Fiber optic
4,0013-EXCHZ,Female,Yes,No,Yes,No,No,No,No,Yes,Yes,No,Yes,Yes,Month-to-month,Mailed check,Fiber optic

In [31]:
telco_df.sort_values(by='total_charges').head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract_type_id,paperless_billing,payment_type_id,monthly_charges,total_charges,churn,contract_type_id.1,contract_type,payment_type_id.1,payment_type,internet_service_type_id.1,internet_service_type
2855,4075-WKNIU,Female,0,Yes,Yes,0,Yes,Yes,1,No,Yes,Yes,Yes,Yes,No,3,No,2,73.35,,No,3,Two year,2,Mailed check,1,DSL
3118,4472-LVYGI,Female,0,Yes,Yes,0,No,No phone service,1,Yes,No,Yes,Yes,Yes,No,3,Yes,3,52.55,,No,3,Two year,3,Bank transfer (automatic),1,DSL
3052,4367-NUYAO,Male,0,Yes,Yes,0,Yes,Yes,3,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,3,No,2,25.75,,No,3,Two year,2,Mailed check,3,None
5433,7644-OMVMY,Male,0,Yes,Yes,0,Yes,No,3,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,3,No,2,19.85,,No,3,Two year,2,Mailed check,3,None
1731,2520-SGTTA,Female,0,Yes,Yes,0,Yes,No,3,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,3,No,2,20.00,,No,3,Two year,2,Mailed check,3,None

In [32]:
telco_df.loc[2855, 'total_charges']

' '

In [35]:
telco_df.total_charges = telco_df.total_charges.replace(' ', np.nan).astype(float)
telco_df[cat_cols].info()
telco_df[cat_cols].head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   customer_id            7043 non-null   object
 1   gender                 7043 non-null   object
 2   partner                7043 non-null   object
 3   dependents             7043 non-null   object
 4   phone_service          7043 non-null   object
 5   multiple_lines         7043 non-null   object
 6   online_security        7043 non-null   object
 7   online_backup          7043 non-null   object
 8   device_protection      7043 non-null   object
 9   tech_support           7043 non-null   object
 10  streaming_tv           7043 non-null   object
 11  streaming_movies       7043 non-null   object
 12  paperless_billing      7043 non-null   object
 13  churn                  7043 non-null   object
 14  contract_type          7043 non-null   object
 15  payment_type           7043 non-null   object
 16  internet_service_type  7043 non-null   object
dtypes: object(17)
memory usage: 1.2+ MB

,customer_id,gender,partner,dependents,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,paperless_billing,churn,contract_type,payment_type,internet_service_type
0,0002-ORFBO,Female,Yes,Yes,Yes,No,No,Yes,No,Yes,Yes,No,Yes,No,One year,Mailed check,DSL
1,0003-MKNFE,Male,No,No,Yes,Yes,No,No,No,No,No,Yes,No,No,Month-to-month,Mailed check,DSL
2,0004-TLHLJ,Male,No,No,Yes,No,No,No,Yes,No,No,No,Yes,Yes,Month-to-month,Electronic check,Fiber optic
3,0011-IGKFF,Male,Yes,No,Yes,No,No,Yes,Yes,No,Yes,Yes,Yes,Yes,Month-to-month,Electronic check,Fiber optic
4,0013-EXCHZ,Female,Yes,No,Yes,No,No,No,No,Yes,Yes,No,Yes,Yes,Month-to-month,Mailed check,Fiber optic

Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them to the DF.

In [40]:
print(f'Contract types:\n{telco_df.contract_type.value_counts()}')
print('----------------')
print(f'Payment types:\n{telco_df.payment_type.value_counts()}')
print('----------------')
print(f'Internet service types:\n{telco_df.internet_service_type.value_counts()}')

Contract types:
Month-to-month    3875
Two year          1695
One year          1473
Name: contract_type, dtype: int64
----------------
Payment types:
Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: payment_type, dtype: int64
----------------
Internet service types:
Fiber optic    3096
DSL            2421
None           1526
Name: internet_service_type, dtype: int64

In [36]:
telco_cats = list(telco_df[cat_cols].columns)
telco_cats
#len(telco_cats)

['customer_id',
 'gender',
 'partner',
 'dependents',
 'phone_service',
 'multiple_lines',
 'online_security',
 'online_backup',
 'device_protection',
 'tech_support',
 'streaming_tv',
 'streaming_movies',
 'paperless_billing',
 'churn',
 'contract_type',
 'payment_type',
 'internet_service_type']

In [37]:
telco_cats[:14]

['customer_id',
 'gender',
 'partner',
 'dependents',
 'phone_service',
 'multiple_lines',
 'online_security',
 'online_backup',
 'device_protection',
 'tech_support',
 'streaming_tv',
 'streaming_movies',
 'paperless_billing',
 'churn']